<section class="container-fluid p-0 gobierno-container">

  <div class="row">
    <div class="col-12 parallax">
      <div class="overlay">
        <div class="container">
          <div class="grid-container">
            <div class="grid-item">
              <i class="grid-item__icon fas fa-project-diagram"></i>
              <span id="projects" class="counter">0</span>
              <p>Proyectos</p>
            </div>
            <div class="grid-item">
              <i class="grid-item__icon fas fa-sign"></i>
              <span id="signals" class="counter">0</span>
              <p>Señalizaciones</p>
            </div>
            <div class="grid-item">
              <i class="grid-item__icon fas fa-tasks"></i>
              <span id="progress" class="counter">0</span>
              <p>Avance de Obras</p>
            </div>
            <div class="grid-item">
              <i class="grid-item__icon fas fa-video"></i>
              <span id="camaras" class="counter">0</span>
              <p>Cámaras de Seguridad</p>
            </div>
            <div class="grid-item">
              <i class="grid-item__icon fas fa-wifi"></i>
              <span id="wifi" class="counter">0</span>
              <p>Wifi Gratuito</p>
            </div>
            <div class="grid-item">
              <i class="grid-item__icon fas fa-tree"></i>
              <span id="areas-verdes" class="counter">0</span>
              <p>Áreas Verdes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
