<div class="container-fluid ubicacion-container">

  <div class="row">

    <div class="col-12 mb-4">

      <h2 class="text-uppercase h2-web" style="margin-bottom: 0px;">Nuestra Ubicación</h2>
      <P class="circulos text-center">
        <i class="far fa-circle circulos__icons"></i>
        <i class="far fa-circle circulos__icons"></i>
        <i class="far fa-circle circulos__icons"></i>
      </P>

    </div>

    <!-- Aquí Seccion de Lugares de interes -->

    <div class="col-12 p-0">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d950.8080151005181!2d-65.93441743039408!3d-17.591711920570738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e3618e6809366b%3A0xd6c3e08dc5701a6e!2sGOBIERNO%20AUTONOMO%20MUNICIPAL%20DE%20CLIZA%20PRIMERA%20SECCION%20-%20GERMAN%20JORDAN!5e0!3m2!1sen!2sbo!4v1719520627044!5m2!1sen!2sbo"
        width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </div>
</div>
