<div class="container-fluid contactanos-container">

  <div class="row">

    <div class="col-12 mb-4">

      <h2 class="text-uppercase h2-web" style="margin-bottom: 0px;">Contáctanos</h2>
      <P class="circulos text-center">
        <i class="far fa-circle circulos__icons"></i>
        <i class="far fa-circle circulos__icons"></i>
        <i class="far fa-circle circulos__icons"></i>
      </P>

    </div>

    <!-- Aquí Seccion de Contactanos -->
    <section class="col-12 contact-section">
      <div class="contact-grid">
        <div class="contact-card image-1">
          <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
          <div class="contact-info">
            <h3>Dirección</h3>
            <p>Calle Ejemplo #123, Cochabamba, Bolivia</p>
          </div>
        </div>
        <div class="contact-card image-2">
          <div class="icon"><i class="fas fa-phone"></i></div>
          <div class="contact-info">
            <h3>Teléfonos</h3>
            <p>+591 123 456 789</p>
            <p>+591 987 654 321</p>
          </div>
        </div>
        <div class="contact-card image-3">
          <div class="icon"><i class="fas fa-envelope"></i></div>
          <div class="contact-info">
            <h3>Correo Institucional</h3>
            <p><a href="mailto:info@ejemplo.com">clizaprimera&#64;ejemplo.com</a></p>
          </div>
        </div>
        <div class="contact-card image-4">
          <div class="icon"><i class="fas fa-share-alt"></i></div>
          <div class="contact-info">
            <h3>Redes Sociales</h3>
            <p><a class=""><i class="contact-info__icon fab fa-facebook"></i> Facebook</a></p>
            <p><a class=""><i class="contact-info__icon fab fa-youtube"></i> Youtube</a></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
