 /* Estilos personalizados para la sección de eventos */

 .eventos-container {
   margin-top: 2rem;
 }

 .eventos-header {
   text-align: center;
   margin-bottom: 2rem;
 }

 .eventos-header h2 {
   text-transform: uppercase;
   font-weight: bold;
   margin-bottom: 1rem;
 }


 .event-card {
   display: flex;
   flex-direction: column;
   background-color: #f8f9fa;
   border-radius: 15px;
   overflow: hidden;
   transition: transform 0.3s;
   /* height:400 px; */
   /* Altura ajustada para tarjetas más grandes */
 }

 .event-card:hover {
   transform: translateY(-10px);
 }

 .event-card img {
   width: 100%;
   object-fit: cover;
   height: 100%;
   /* Ajusta la imagen para que llene toda la altura */
 }

 @media(min-width: 768px) {
   .event-card {
     flex-direction: row;
     height: 400px;
   }

   .event-card img {
     width: 50%;
   }
 }

 .event-card-content {
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .event-card-title {
   font-size: 24px;
   color: #455a64;
   font-weight: 700;
   margin-bottom: 0.75rem;
 }

 .event-card-text {
   font-size: 1.3rem;
   color: #555;
   margin-bottom: 1rem;
 }

 .btn-participar {
   background-color: #28a745;
   color: white;

   align-self: start;
 }

 .btn-participar:hover {
   background-color: #218838;
   color: white;
 }

 /* FIN CSS para la seccion de eventos */
