 /* Estilos personalizados para la sección de eventos */

 /* .eventos-container {
   background-color: #c6f3ea;
   border: 1px solid rgba(219, 219, 219, 0);
   padding: 4rem 0;
 } */

 .eventos-header {
   text-align: center;
   margin-bottom: 2rem;
 }

 .eventos-header h2 {
   text-transform: uppercase;
   font-weight: bold;
   margin-bottom: 1rem;
 }


 .event-card {
   display: flex;
   flex-direction: row;
   background-color: #f8f9fa;
   border-radius: 15px;
   overflow: hidden;
   transition: transform 0.3s;
   height: 300px;
   /* Altura ajustada para tarjetas más grandes */
 }

 .event-card:hover {
   transform: translateY(-10px);
 }

 .event-card img {
   width: 50%;
   object-fit: cover;
   height: 100%;
   /* Ajusta la imagen para que llene toda la altura */
 }

 .event-card-content {
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .event-card-title {
   font-size: 1.75rem;
   font-weight: bold;
   margin-bottom: 0.75rem;
 }

 .event-card-text {
   font-size: 1rem;
   color: #555;
   margin-bottom: 1rem;
 }

 .btn-participar {
   background-color: #28a745;
   color: white;

   align-self: start;
 }

 .btn-participar:hover {
   background-color: #218838;
   color: white;
 }

 /* FIN CSS para la seccion de eventos */
