<div class="container-fluid footer-container">

  <div class="row footer__row">

    <div class="col-12  col-lg-4 ">
      <p class="footer__parrafo"><i class="footer__icon fas fa-home"></i> Gobierno Autónomo municipal de cliza</p>
      <p class="footer__parrafo"><i class="footer__icon fas fa-map-marker-alt"></i> Dirección: Plaza 21 de Septiembre
        esq. Santa Cruz
        Cliza.</p>
      <p class="footer__parrafo"><i class="footer__icon fas fa-mail-bulk"></i> Contacto: infogamdc&#64;cliza.gob.bo (4)
        4575029.</p>
      <p class="footer__parrafo"><i class="footer__icon fas fa-clock"></i> Horarios de
        atención:<br>&nbsp;&nbsp;&nbsp;&nbsp; Lunes a
        Viernes<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:00 a 12:00<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13:00 a 17:00</p>
    </div>

    <div class="col-12  col-lg-4 ">
      <h3 class="col-12 text-white text-uppercase mb-4">Visita nuestras redes sociales</h3>
      <p>
        <a class="footer__parrafo footer__parrafo--color "><i class="footer__icon fab fa-facebook"></i> Facebook</a>
      </p>
      <p>
        <a class="footer__parrafo footer__parrafo--color"><i class="footer__icon fab fa-youtube"></i> Youtube</a>
      </p>

    </div>

    <div class="col-12  col-lg-4 text-center">
      <img class="footer__logo" src="../../../../assets/img/logoclizasun-5.png" alt="">
    </div>
    <hr>
    <p class="col-12 text-white text-uppercase text-center mb-0">copyright © Todos los derechos reservados Gobierno
      Autónomo
      Municipal de
      Cliza {{this.anio}}</p>
  </div>

</div>