.footer-container {
  /* background-image: url('../../../../assets/img/bg-menu.png'); */
  /* z-index: 999; */
  background: rgb(15, 167, 246);
  background: linear-gradient(90deg, rgba(15, 167, 246, 1) 0%, rgba(9, 45, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.footer__row {
  padding: 4rem 4rem 2rem 4rem;
}


.footer__logo {
  max-width: 70%;
}

@media (min-width: 576px) {
  .footer__logo {
    max-width: 60%;
  }
}

@media (min-width: 768px) {
  .footer__logo {
    max-width: 90%;
  }
}



.footer__parrafo {
  color: aliceblue;
  font-size: 1.3rem;
}

.footer__parrafo--color {
  color: aliceblue !important;
}

.footer__icon {
  color: #fbbb00;
}
