<div class="container-fluid footer">

  <div class="row footer__row">

    <div class="col-12 col-md-4">
      <p class="footer__parrafo"><i class="footer__icon fas fa-home"></i> Gobierno Autónomo municipal de cliza</p>
      <p class="footer__parrafo"><i class="footer__icon fas fa-map-marker-alt"></i> Dirección: Plaza 21 de Septiembre
        esq. Santa Cruz
        Cliza.</p>
      <p class="footer__parrafo"><i class="footer__icon fas fa-mail-bulk"></i> Contacto: infogamdc&#64;cliza.gob.bo (4)
        4575029.</p>
      <p class="footer__parrafo"><i class="footer__icon fas fa-clock"></i> Horarios de
        atención:<br>&nbsp;&nbsp;&nbsp;&nbsp; Lunes a
        Viernes<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:00 a 12:00<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13:00 a 17:00</p>
    </div>
    <div class="col-12 col-md-4">
      <h3 class="col-12 text-white text-uppercase mb-4">Visita nuestras redes sociales</h3>
      <a class="footer__parrafo"><i class="footer__icon fab fa-facebook"></i> Facebook</a><br>
      <a class="footer__parrafo"><i class="footer__icon fab fa-youtube"></i> Youtube</a>

    </div>
    <div class="col-12 col-md-4">
      <img class="footer__logo" src="../../../../assets/img/logogamdc.png" alt="">
    </div>
    <p class="col-12 text-white text-uppercase mb-4 text-center mb-0">Todos los derechos reservados Gobierno Autónomo
      Municipal de
      Cliza</p>
  </div>

</div>
