<app-navegacion></app-navegacion>

<div #header id="header">
  <app-header></app-header>
</div>


<br><br>
<div #interesciudadano>
  @defer (on viewport(interesciudadano)) {
  <app-seccion-interes-ciudadano></app-seccion-interes-ciudadano>
  }
</div>

<br><br>
<div #noticias>
  @defer (on viewport(noticias)) {
  <app-noticias></app-noticias>
  }
</div>

<br><br>
<div #eventos>
  @defer (on viewport(eventos)) {
  <app-eventos></app-eventos>
  }
</div>

<br><br>
<div #gobierno class="animated fadeIn fast">
  @defer (on viewport(gobierno)) {
  <app-gobierno-electronico></app-gobierno-electronico>
  }
</div>

<br><br>
<div #lugarInteres>
  @defer (on viewport(lugarInteres)) {
  <app-lugar-interes></app-lugar-interes>
  }
</div>

<br><br>
<div #ubicacion>
  @defer (on viewport(ubicacion)) {
  <app-ubicacion></app-ubicacion>
  }
</div>

<br><br>
<div #contactanos>
  @defer (on viewport(contactanos)) {
  <app-contactanos></app-contactanos>
  }
</div>

<br><br>
<div #footer>
  @defer (on viewport(footer)) {
  <app-footer></app-footer>
  }
</div>
