<!-- ALCALDIA -->
<!-- <app-navegacion></app-navegacion> -->


<!-- <div #header id="header">
  <app-header></app-header>
</div> -->


<!-- <app-television></app-television> -->

<!-- <br><br>
<div #interesciudadano>
  @defer (on viewport(interesciudadano)) {
  <app-seccion-interes-ciudadano></app-seccion-interes-ciudadano>
  }
</div> -->


<!-- <br><br>
<div #noticias>
  @defer (on viewport(noticias)) {
  <app-noticias></app-noticias>
  }
</div> -->

<!-- <br><br>
<div #eventos>
  @defer (on viewport(eventos)) {
  <app-eventos></app-eventos>
  }
</div>

<br><br>
<div #gobierno class="animated fadeIn fast">
  @defer (on viewport(gobierno)) {
  <app-gobierno-electronico></app-gobierno-electronico>
  }
</div>

<br><br>
<div #lugarInteres>
  @defer (on viewport(lugarInteres)) {
  <app-lugar-interes></app-lugar-interes>
  }
</div>

<br><br>
<div #ubicacion>
  @defer (on viewport(ubicacion)) {
  <app-ubicacion></app-ubicacion>
  }
</div>

<br><br>
<div #contactanos>
  @defer (on viewport(contactanos)) {
  <app-contactanos></app-contactanos>
  }
</div>

<br><br>
<div #footer>
  @defer (on viewport(footer)) {
  <app-footer></app-footer>
  }
</div> -->
<!-- FIN ALCALDIA -->

<!-- GOBERNACIÓN -->
<app-navegacion-gadc></app-navegacion-gadc>

<div #header id="header">
  <app-header-gadc></app-header-gadc>
</div>

<div class="container" style="max-width: 1600px;">

  <br><br><br>
  <div #ultimasnoticias>
    @defer (on viewport(ultimasnoticias)) {
    <app-ultimas-noticias></app-ultimas-noticias>
    }
  </div>

  <br><br><br>
  <div #television>
    @defer (on viewport(television)) {
    <app-television-gadc></app-television-gadc>
    }
  </div>

  <br><br><br>
  <div #pilaresgestion>
    @defer (on viewport(pilaresgestion)) {
    <app-pilargestion-gadc></app-pilargestion-gadc>
    }
  </div>

  <br><br>
  <div #gobierno>
    @defer (on viewport(gobierno)) {
    <app-gobierno-gadc></app-gobierno-gadc>
    }
  </div>
</div>


<br><br>
<div #footergadc>
  @defer (on viewport(footergadc)) {
  <app-footer-gadc></app-footer-gadc>
  }
</div>


<!-- FIN GOBERNACIÓN -->
