<section class="ultimas-noticias">
  <h2 class="text-left">Últimas Noticias</h2>
  <div class="row noticias-container">
    <article class="col-12 col-xl-7 noticia noticia--uno">
      <img class="noticia-imagen__uno" src="./../../../../../assets/img/7.jpg" alt="Imagen de la noticia 1">
      <div class="noticia-content">
        <h3>Título de la Noticia 1 sit amet consectetur adipisicing elit.</h3>
        <p class="noticia-content__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis dicta
          dolorem quos recusandae deleniti rem laudantium eius sequi, reprehenderit magnam tempora explicabo quasi sint
          autem minima voluptas error necessitatibus molestiae!</p>
        <a href="link-to-full-news1" class="leer-mas mb-2">Leer más</a>
      </div>
    </article>

    <div class="col-12 col-xl-5 noticias-pequeñas">
      <article class="noticia">
        <img src="./../../../../../assets/img/7.jpg" alt="Imagen de la noticia 2">
        <div class="noticia-content">
          <h3>Título de la Noticia 2 Lorem ipsum dolor sit amet</h3>
          <p class="noticia-content__parrafo">Breve descripción de la noticia 2... Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Reiciendis temporibus, </p>
          <a href="link-to-full-news2" class="leer-mas mb-2">Leer más</a>
        </div>
      </article>
      <article class="noticia">
        <img src="./../../../../../assets/img/7.jpg" alt="Imagen de la noticia 3">
        <div class="noticia-content">
          <h3>Título de la Noticia 3</h3>
          <p class="noticia-content__parrafo">Breve descripción de la noticia 3...</p>
          <a href="link-to-full-news3" class="leer-mas mb-2">Leer más</a>
        </div>
      </article>
    </div>

    <!-- Añadir más artículos si es necesario -->
  </div>
</section>
