<!-- Modal formulario para agregar Puesto -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    style="display: none;" aria-hidden="true" id="modal-agregar-puesto">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-content--borde">

            <form #formDirective="ngForm" [formGroup]="this.formulario" (ngSubmit)="submit(formDirective)">

                <div class="modal-header bg-info modal-content__modal-header--borde">
                    <h4 class="modal-title text-white" id="myLargeModalLabelPuesto">Formulario de Registro de Puesto de
                        Mercado</h4>
                    <button type="button" class="close modal-header--close" data-dismiss="modal" inert
                        aria-hidden="true">x</button>
                </div>

                <div class="modal-body modal-body--form row">

                    <!-- Número de puesto -->
                    <div class="col-12 col-lg-4 form-group">
                        <label for="nro_puesto-puesto">N° Puesto<span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control" id="nro_puesto-puesto"
                            placeholder="Ingrese el N° de puesto" formControlName="nro_puesto" autocomplete="off">
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.nroPuesto?.invalid && (this.nroPuesto?.dirty || this.nroPuesto?.touched)">
                            <!-- Errores con expresiones regulares -->
                            <div *ngIf="this.nroPuesto?.hasError('required')"
                                class="animated fadeIn fast text-danger font-14" id="">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <!-- Sector -->
                    <div class="col-12 col-lg-4 form-group">
                        <label for="mercado-sector-select2">Sector<span class="text-danger">*</span></label>
                        <select class="select2 form-control custom-select" id="mercado-sector-select2"
                            formControlName="sector_id" style="width: 100%; height:36px;">
                            <option value="" disabled selected>-Seleccionar-</option>
                            @for (item of this.indexSector; track item.id) {
                            <option value="{{ item.id }}">{{ item.sector }} - Mercado: {{ item.mercado }}</option>
                            } @empty {
                            <option value="">No existen titulares registrados</option>
                            }
                        </select>
                        <div *ngIf="sector?.invalid && (sector?.dirty || sector?.touched)">
                            <div *ngIf="sector?.hasError('required')" class="animated fadeIn fast text-danger font-14">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <!-- Titular -->
                    <div class="col-12 col-lg-4 form-group">
                        <label for="mercado-titular-select2">Titular<span class="text-danger">*</span></label>
                        <select class="select2 form-control custom-select" id="mercado-titular-select2"
                            formControlName="titular_id" style="width: 100%; height:36px;">
                            <option value="" disabled selected>-Seleccionar-</option>
                            @for (item of this.indexTitular; track item.id) {
                            <option value="{{ item.id }}">{{ item.nombres }} {{ item.apellidos }}</option>
                            } @empty {
                            <option value="">No existen titulares registrados</option>
                            }
                        </select>
                        <div *ngIf="titular?.invalid && (titular?.dirty || titular?.touched)">
                            <div *ngIf="titular?.hasError('required')" class="animated fadeIn fast text-danger font-14">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <!-- Precio mensual -->
                    <div class="col-12 col-lg-4  form-group">
                        <label for="precio-mensual-puesto">Precio mensual<span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control" id="precio-mensual-puesto"
                            placeholder="Ingrese el precio mensual" formControlName="precio_mensual" autocomplete="off">
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div
                            *ngIf="this.precioMensual?.invalid && (this.precioMensual?.dirty || this.precioMensual?.touched)">
                            <!-- Errores con expresiones regulares -->
                            <div *ngIf="this.precioMensual?.hasError('required')"
                                class="animated fadeIn fast text-danger font-14" id="">
                                Este campo es requerido.
                            </div>
                            <div *ngIf="this.precioMensual?.hasError('pattern')"
                                class="animated fadeIn fast text-danger font-14">
                                Ingrese un precio válido con hasta 2 decimales.
                            </div>
                        </div>
                    </div>

                    <!-- Fecha de Ingreso -->
                    <div class="col-12 col-lg-4  form-group">
                        <label for="fecha_ingreso">Fecha de Ingreso<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control mydatepicker" placeholder="mm/dd/yyyy"
                                id="fecha_ingreso" formControlName="fecha_ingreso" autocomplete="off">
                            <span class="input-group-addon"><i class="icon-calender"></i></span>
                        </div>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div
                            *ngIf="this.fechaIngreso?.invalid && (this.fechaIngreso?.dirty || this.fechaIngreso?.touched)">
                            <!-- Errores con expresiones regulares -->
                            <div *ngIf="this.fechaIngreso?.hasError('required')"
                                class="animated fadeIn fast text-danger font-14" id="">
                                Este campo es requerido.
                            </div>
                        </div>

                    </div>

                    <!-- Número de contrato -->
                    <div class="col-12 col-lg-4  form-group">
                        <label for="nro_contrato-puesto">N° de Contrato<span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control" id="nro_contrato-puesto"
                            placeholder="Ingrese el N° de Contrato" formControlName="nro_contrato" autocomplete="off">
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div
                            *ngIf="this.nroContrato?.invalid && (this.nroContrato?.dirty || this.nroContrato?.touched)">
                            <!-- Errores con expresiones regulares -->
                            <div *ngIf="this.nroContrato?.hasError('required')"
                                class="animated fadeIn fast text-danger font-14" id="">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <!-- Observaciones -->
                    <div class="col-12 form-group">
                        <label for="observaciones-puesto">Observaciones</label>
                        <input type="text" class="form-control form-control" id="observaciones-puesto"
                            placeholder="Ingrese observaciones" formControlName="observaciones" autocomplete="off">
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info m-r-10"
                        [disabled]="this.formulario.invalid">Guardar</button>
                </div>

            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.FIN modal formulario para agregar sector -->


<!-- Modal formulario para EDITAR sector -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    style="display: none;" aria-hidden="true" id="modal-editar-puesto">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-content--borde">

            <form #formDirectiveUpdate="ngForm" [formGroup]="this.formularioUpdate"
                (ngSubmit)="submitUpdate(formDirectiveUpdate)">

                <div class="modal-header bg-warning modal-content__modal-header--borde">
                    <h4 class="modal-title text-dark" id="myLargeModalLabelPuesto">Modificar registro de puesto de
                        mercado
                    </h4>
                    <button type="button" class="close modal-header--close" data-dismiss="modal" inert
                        aria-hidden="true">x</button>
                </div>

                <div class="modal-body modal-body--form row">

                    <!-- Número de puesto -->
                    <div class="col-12 col-lg-4 form-group">
                        <label for="nro_puestoUpdate-puesto">N° Puesto<span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control" id="nro_puestoUpdate-puesto"
                            placeholder="Ingrese el N° de puesto" formControlName="nro_puestoUpdate" autocomplete="off">
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div
                            *ngIf="this.nroPuestoUpdate?.invalid && (this.nroPuestoUpdate?.dirty || this.nroPuestoUpdate?.touched)">
                            <!-- Errores con expresiones regulares -->
                            <div *ngIf="this.nroPuestoUpdate?.hasError('required')"
                                class="animated fadeIn fast text-danger font-14" id="">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <!-- Sector -->
                    <div class="col-12 col-lg-4 form-group">
                        <label for="mercado-sector-update-select2">Sector<span class="text-danger">*</span></label>
                        <select class="select2 form-control custom-select" id="mercado-sector-update-select2"
                            formControlName="sector_id_update" style="width: 100%; height:36px;">
                            <option value="" disabled selected>-Seleccionar-</option>
                            @for (item of this.indexSector; track item.id) {
                            <option value="{{ item.id }}">{{ item.sector }} - Mercado: {{ item.mercado }}</option>
                            } @empty {
                            <option value="">No existen titulares registrados</option>
                            }
                        </select>
                        <div
                            *ngIf="sectorPuestoUpdate?.invalid && (sectorPuestoUpdate?.dirty || sectorPuestoUpdate?.touched)">
                            <div *ngIf="sectorPuestoUpdate?.hasError('required')"
                                class="animated fadeIn fast text-danger font-14">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <!-- Titular -->
                    <div class="col-12 col-lg-4 form-group">
                        <label for="mercado-titular-update-select2">Titular<span class="text-danger">*</span></label>
                        <select class="select2 form-control custom-select" id="mercado-titular-update-select2"
                            formControlName="titular_id_update" style="width: 100%; height:36px;">
                            <option value="" disabled selected>-Seleccionar-</option>
                            @for (item of this.indexTitular; track item.id) {
                            <option value="{{ item.id }}">{{ item.nombres }} {{ item.apellidos }}</option>
                            } @empty {
                            <option value="">No existen titulares registrados</option>
                            }
                        </select>
                        <div
                            *ngIf="titularPuestoUpdate?.invalid && (titularPuestoUpdate?.dirty || titularPuestoUpdate?.touched)">
                            <div *ngIf="titularPuestoUpdate?.hasError('required')"
                                class="animated fadeIn fast text-danger font-14">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <!-- Precio mensual -->
                    <div class="col-12 col-lg-4 form-group">
                        <label for="precio-mensualUpdate-puesto">Precio mensual<span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control" id="precio-mensualUpdate-puesto"
                            placeholder="Ingrese el precio mensual" formControlName="precio_mensualUpdate"
                            autocomplete="off">
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div
                            *ngIf="this.precioMensualUpdate?.invalid && (this.precioMensualUpdate?.dirty || this.precioMensualUpdate?.touched)">
                            <!-- Errores con expresiones regulares -->
                            <div *ngIf="this.precioMensualUpdate?.hasError('required')"
                                class="animated fadeIn fast text-danger font-14" id="">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <!-- Fecha de Ingreso -->
                    <div class="col-12 col-lg-4  form-group">
                        <label for="fecha_ingresoUpdate">Fecha de Ingreso<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control mydatepicker" placeholder="mm/dd/yyyy"
                                id="fecha_ingresoUpdate" formControlName="fecha_ingresoUpdate" autocomplete="off">
                            <span class="input-group-addon"><i class="icon-calender"></i></span>
                        </div>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div
                            *ngIf="this.fechaIngreso?.invalid && (this.fechaIngreso?.dirty || this.fechaIngreso?.touched)">
                            <!-- Errores con expresiones regulares -->
                            <div *ngIf="this.fechaIngreso?.hasError('required')"
                                class="animated fadeIn fast text-danger font-14" id="">
                                Este campo es requerido.
                            </div>
                        </div>

                    </div>

                    <!-- Número de contrato -->
                    <div class="col-12 col-lg-4 form-group">
                        <label for="nro_contratoUpdate-puesto">N° de Contrato<span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control" id="nro_contratoUpdate-puesto"
                            placeholder="Ingrese el N° de Contrato" formControlName="nro_contratoUpdate"
                            autocomplete="off">
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div
                            *ngIf="this.nroContratoUpdate?.invalid && (this.nroContratoUpdate?.dirty || this.nroContratoUpdate?.touched)">
                            <!-- Errores con expresiones regulares -->
                            <div *ngIf="this.nroContratoUpdate?.hasError('required')"
                                class="animated fadeIn fast text-danger font-14" id="">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <!-- Observaciones -->
                    <div class="col-12 col-lg-8 form-group">
                        <label for="observacionesUpdate-puesto">Observaciones<span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control" id="observacionesUpdate-puesto"
                            placeholder="Ingrese observaciones" formControlName="observacionesUpdate"
                            autocomplete="off">
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div
                            *ngIf="this.observacionesUpdate?.invalid && (this.observacionesUpdate?.dirty || this.observacionesUpdate?.touched)">
                            <!-- Errores con expresiones regulares -->
                            <div *ngIf="this.observacionesUpdate?.hasError('required')"
                                class="animated fadeIn fast text-danger font-14" id="">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <!-- Estado -->
                    <div class="col-12 col-lg-4 form-group">
                        <label for="estadoPuesto">Estado</label>
                        <select class="form-control" id="estadoPuesto" formControlName="estadoUpdate"
                            autocomplete="off">
                            <option *ngFor="let item of this.estados" [value]="item.value">{{ item.estado }}</option>
                        </select>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info m-r-10"
                        [disabled]="this.formularioUpdate.invalid">Guardar</button>
                </div>

            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.FIN modal formulario para editar persona -->