<nav class="navbar navbar-expand-lg navbar-dark fondo animated fadeIn fast fixed-top2 " id="menuMain">

  <div class="container logo-menu" id="" style="max-width: 1600px;">

    <a class="navbar-brand" href="#">
      <img class="img-fluid logoTecSur" src="./../../../../assets/img/logogamdc.png"
        alt="Gobierno Autónomo Municipal de Cliza">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <!-- Inicio -->
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link inicio text-uppercase">Inicio<span class="sr-only">(current)</span></a>
        </li>

        <!-- Nosotros -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link acerca text-uppercase">Nosotros</a>
        </li>

        <!-- Servicios -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link acerca text-uppercase">Servicios</a>
        </li>

        <!-- Gobierno -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link acerca text-uppercase">Municipio</a>
        </li>

        <!-- Noticias -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link acerca text-uppercase">Noticias</a>
        </li>

        <!-- Turismo y cultura -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link acerca text-uppercase">Turismo y cultura</a>
        </li>

        <!-- Contacto -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link acerca text-uppercase">Contacto</a>
        </li>

        <!-- Más -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
            aria-expanded="false">MÁS</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Participación ciudadana</a>
            <a class="dropdown-item" href="#">Seguridad y emergencia</a>
            <a class="dropdown-item" href="#">Educación y salud</a>
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a> -->
          </div>
        </li>


      </ul>
    </div>

  </div>

</nav>
