<!-- seccion de  iconos de acceso -->
<section class="container menu-icons" style="max-width: 1600px;">

  <div class="seccion-iconos row justify-content-between">

    <div class="col-12 mb-4">
      <h2 class="text-uppercase h2-web" style="margin-bottom: 0px;">De Interes Ciudadano</h2>
      <P class="circulos text-center">
        <i class="far fa-circle circulos__icons"></i>
        <i class="far fa-circle circulos__icons"></i>
        <i class="far fa-circle circulos__icons"></i>
      </P>
    </div>

    <!-- Gaceta Municipal -->
    <div class="col-12 col-md-4 iconos animated fadeInLeft" style="animation-delay: 0.3s; animation-duration: 1.3s;">
      <p class="seccion-iconos__icon"><i class="bi bi-bank"></i></p>
      <h3 class="iconos__titulo">Gaceta Municipal</h3>
    </div>

    <!-- Reclamos para alumbrado publico -->
    <div class="col-12 col-md-4 iconos animated fadeInDown " style="animation-delay: 0.3s; animation-duration: 1.3s;">
      <p class="seccion-iconos__icon"><i class="bi bi-sun"></i></p>
      <h3 class="iconos__titulo">Reclamos alumbrado publico</h3>
    </div>

    <!-- Seguimiento a tramites -->
    <div class="col-12 col-md-4 iconos  animated fadeInRight" style="animation-delay: 0.3s; animation-duration: 1.3s;">
      <p class="seccion-iconos__icon"><i class="bi bi-signpost-split"></i></p>
      <h3 class="iconos__titulo">Seguimiento a tramites</h3>
    </div>

  </div>

</section>
<!-- Fin Seccion de iconos de acceso -->
