<!-- seccion de  iconos de acceso -->
<section class="container menu-icons" style="max-width: 1600px;">

  <div class="seccion-iconos row justify-content-between">

    <div class="col-12 mb-4">
      <h2 class="text-uppercase h2-web" style="margin-bottom: 0px;">Servicio al ciudadano</h2>
      <P class="circulos text-center">
        <i class="fa fa-circle-o circulos__icons"></i>
        <i class="fa fa-circle-o circulos__icons"></i>
        <i class="fa fa-circle-o circulos__icons"></i>
      </P>
    </div>


    <!-- Gaceta Municipal -->
    <a target="_blank" class="col-12 col-md-4 iconos animated fadeInLeft"
      style="animation-delay: 0.3s; animation-duration: 1.3s;"
      href="https://cliza.gob.bo/web/normativas-tributarias.php">
      <p class="seccion-iconos__icon"><i class="fa fa-institution"></i></p>
      <h3 class="iconos__titulo">Gaceta Municipal</h3>
    </a>

    <!-- Gestión Transparente -->
    <a target="_blank" class="col-12 col-md-4 iconos animated fadeInLeft"
      style="animation-delay: 0.3s; animation-duration: 1.3s;"
      href="https://cliza.gob.bo/web/normativas-tributarias.php">
      <p class="seccion-iconos__icon"><i class="fa fa-file-text"></i></p>
      <h3 class="iconos__titulo">Gestión Transparente</h3>
    </a>

    <!-- Servicio al ciudadano -->
    <a href="{{item.url_documento}}" target="_blank" *ngFor="let item of this.listCiudadano"
      class="col-12 col-md-4 iconos animated fadeInLeft" style="animation-delay: 0.3s; animation-duration: 1.3s;">
      <p class="seccion-iconos__icon"><i class="{{item.imagen}}"></i></p>
      <h3 class="iconos__titulo">{{item.descripcion}}</h3>
    </a>

  </div>

</section>
<!-- Fin Seccion de iconos de acceso -->