/* Estilos personalizados para la sección de noticias */
.noticias-container {
  /* background-color: #fdf8dce0; */
  margin-top: 2rem;
}

.noticias-header {
  text-align: center;
  margin-bottom: 2rem;
}

.noticias-header h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.noticias-header p.circulos {
  margin-bottom: 2rem;
}


.card-noticia {
  margin-bottom: 2rem;
  transition: transform 0.3s;
  border-radius: 15px;
  border: 5px solid #f8f9fa;
  background-color: #f8f9fa;
}

.card-noticia:hover {
  transform: translateY(-10px);
}

.card-noticia img {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-radius: 15px;
  height: 250px;
  object-fit: cover;
  object-position: top;
  /* Alinea la imagen en la parte superior */

}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


.btn-leer-mas {
  background-color: #007bff;
  color: white;
  margin-top: 1rem;
}

.btn-leer-mas:hover {
  background-color: #0056b3;
  color: white;

}


/* FIN Estilos personalizados para la sección de noticias */
.circulos__icons {
  font-weight: bold;
}

.bg-celeste {
  background-color: #00aeff;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 174, 255, 1) 0%, rgba(109, 208, 254, 1) 100%);
}