<div class="container-fluid noticias-container">
  <div class="container" style="max-width: 1600px;">
    <div class="row">

      <div class="col-12 mb-4">
        <h2 class="text-uppercase h2-web" style="margin-bottom: 0px;">Noticias y Anuncios</h2>
        <P class="circulos text-center">
          <i class="far fa-circle circulos__icons"></i>
          <i class="far fa-circle circulos__icons"></i>
          <i class="far fa-circle circulos__icons"></i>
        </P>
      </div>

      <!-- Aquí las noticias -->
      <div class="col-12 mt-2">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-noticia">
              <img src="../../../../assets/img/7.jpg" class="card-img-top" alt="Noticia 1">
              <div class="card-body">
                <h5 class="card-title">Título de la Noticia 1</h5>
                <p class="p-text">Descripción breve de la noticia. Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit.</p>
                <a href="#" class="btn btn-lg btn-rounded btn-info">Leer más</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-noticia">
              <img src="../../../../assets/img/alcaldia2023.jpg" class="card-img-top" alt="Noticia 2">
              <div class="card-body">
                <h5 class="card-title">Título de la Noticia 2</h5>
                <p class="p-text">Descripción breve de la noticia. Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit.</p>
                <a href="#" class="btn btn-lg btn-rounded btn-info">Leer más</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-noticia">
              <img src="../../../../assets/img/alcaldia2024.jpg" class="card-img-top" alt="Noticia 3">
              <div class="card-body">
                <h5 class="card-title">Título de la Noticia 3</h5>
                <p class="p-text">Descripción breve de la noticia. Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit.</p>
                <a href="#" class="btn btn-lg btn-rounded btn-info">Leer más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin de las noticias -->

    </div>
  </div>
</div>
